.login-footer {
  display: flex;
  justify-content: space-around;
  background-color: #506e54;
  padding: 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15vh;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.login-button,
.register-button {
  padding: 0px 80px;
  border: none;
  border-radius: 80px;
  font-size: 64px;
  cursor: pointer;
  margin-top: 10px;
}

.login-button {
  font-weight: bold;
  background-color: #daf7bf;
  color: #2e5a8d;
}

.register-button {
  font-weight: bold;
  background-color: #daf7bf;
  color: #2e5a8d;
}

.login-button:hover,
.register-button:hover {
  opacity: 0.9;
}
